@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div id="mapdiv" style="width: 1200px; height: 600px;"></div>

<script src="https://openlayers.org/api/OpenLayers.js"></script>
<script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    var lonSofia = new OpenLayers.LonLat(23.319941, 42.698334)
        .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
        );
    var lonLat = new OpenLayers.LonLat(23.318111, 42.684241)
        .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
        );
    var zoom = 14;
    var markers = new OpenLayers.Layer.Markers("Markers");
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(lonLat));
    markers.addMarker(new OpenLayers.Marker(lonSofia));
    map.setCenter(lonSofia, zoom);
    map.setCenter(lonLat, zoom);
</script>
